h1 {
    font-weight:700;
	margin-bottom:1rem;
    font-size:2em;
    margin:.67em 0;
}
p {
    padding: 40px;
    font-size: 25px;
}
img011 {
    border-radius: 7.5px;
    align-content: left;
    padding: 40px;
    border-radius: 25px;
}